name: Data Preprocessing Automation

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  preprocess:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install Libraries
        run: |
          pip install pandas scikit-learn

      - name: Debugging - Cek Struktur Folder
        run: |
          echo "Isi folder root:"
          ls -R
        # Langkah ini akan menampilkan semua file di log, berguna untuk cek apakah heart.csv terbaca

      - name: Run Script
        run: |
          python preprocessing/automate_AdityaWisnuYudhaMarsudi.py

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: preprocessed-data
          # Path ini sesuai dengan output dari script Python yang baru
          path: preprocessing/heart_failure_preprocessing/heart_clean.csv
