name: Data Preprocessing Automation

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  preprocess:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas scikit-learn

      - name: Run Preprocessing Script
        run: |
          cd preprocessing
          python automate_Rafy.py

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: preprocessed-data
          path: preprocessing/heart_failure_preprocessing/heart_clean.csv
